h1{
    color: rgb(246, 245, 247);
}
body{
    margin: 0%;
    height: 800px;
    background: rgb(3, 3, 3);
    background: linear-gradient(120deg, rgb(208, 232, 70) 55%, rgb(62, 4, 103) 94%);
    font-family: "Rubik", sans-serif;
}
legend{
    color: rgb(245, 246, 248);
    font-size: 10px;
}
input{
    background-color: rgb(192, 191, 191);
    border-radius: 4px;
    color: rgb(8, 8, 8);
    font-size: large;
    padding: 4px;
}
.add_btn{
    color: black;
    padding: 4px;
    font-size: medium;
    border: 2px solid;
    box-shadow: 2px 2px 2px;
    cursor: pointer;
}
.add_btn:hover{
    background-color: rgb(7, 7, 7);
    color: antiquewhite;
}
label{
    color: antiquewhite;
}
    
.anfrage_senden_btn{
    font-family: "Rubik", sans-serif;
    font-size: larger;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 40px;
    cursor: pointer;
    color: black;
    margin-left: 30px;
    margin-bottom: 60px;
}
.anfrage_senden_btn:hover{
    background-color: rgb(7, 7, 7);
    color: antiquewhite;
}
p, h2{
    color: antiquewhite;
}
.anfrage_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
