h1{
    color: rgb(246, 245, 247);
}
body{
    margin: 0%;
    background: rgb(3, 3, 3);
    background: linear-gradient(120deg, rgb(255, 255, 255) 55%, rgb(188, 193, 193) 94%);
    font-family: "Rubik", sans-serif;
    height: 1000px;
}
legend{
    color: rgb(114, 114, 114);
    font-size: 10px;
}
input{
    background-color: rgb(192, 191, 191);
    border-radius: 10px;
    color: rgb(8, 8, 8);
    font-size: large;
    padding: 8px;
}

label{
    color: rgb(97, 97, 97);
}
    
.anfrage_senden_btn{
    font-family: "Rubik", sans-serif;
    font-size: larger;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 40px;
    cursor: pointer;
    color: black;
    margin-bottom: 60px;
}
.anfrage_senden_btn:hover{
    background-color: rgb(7, 7, 7);
    color: antiquewhite;
}
p, h2{
    color: antiquewhite;
}
.anfrage_div{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100%;   
}
